name: Scheduler

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  compile_email_body:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      TZ: Asia/Hong_Kong

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install requests pandas

    - name: Run script
      run: python HK/compile.py

    - name: Commit and push HTML file
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add HK/*.html
        git commit -m "Add generated HTML file" || exit 0
        git push